:root {
    --primary-color: #7982ff;
    --secondary-color: #2ecc71;
    --accent-color: #dc84ff;
    --dark-color: #2c3e50;
    --light-color: #ecf0f1;
    --text-color: #333;
    --white: #ffffff;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #f0f0f0;
    padding: 20px 0;
}

nav {
    background-color: #e0e0e0;
    padding: 10px 0;
}

.section-title {
    color: #333;
    text-align: center;
}








body {
    background: linear-gradient(135deg, #f0f8ff, #e0eafc); /* Agregado el segundo color del gradiente */
}


body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #f0f0f0;
    padding: 20px 0;
}

nav {
    background-color: #e0e0e0;
    padding: 10px 0;
}

.section-title {
    color: #333;
    text-align: center;
}




body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #f0f0f0;
    padding: 20px 0;
}

nav {
    background-color: #e0e0e0;
    padding: 10px 0;
}

.section-title {
    color: #333;
    text-align: center;
}

.tematica-card {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}